<div ng-if="!$ctrl.game.status">
    <p>Aucun jeu en cours !</p>
    <div ng-if="$ctrl.isUserAdmin()">
        Cr&eacute;er un nouveau jeu : <br/>
        <game-creator></game-creator>
    </div>
</div>
<div ng-if="!!$ctrl.game.status">

    <h3>Jeu en cours (niveau {{$ctrl.game.level}})</h3>

    <div ng-if="$ctrl.isUserAdmin()">
        <button ng-click="$ctrl.onStartPressed()" ng-if="$ctrl.game.status == 'CREATED'">D&eacute;marrer</button>
        <button ng-click="$ctrl.onStopPressed()" ng-if="$ctrl.game.status == 'STARTED'">Arr&ecirc;ter</button>
        <div ng-if="$ctrl.game.status == 'STOPPED'">
            <button ng-click="$ctrl.onResumePressed()">Recommencer</button> ou cr&eacute;er un nouveau jeu : <game-creator></game-creator>
        </div>
    </div>

    <p>
       <label>Etat</label> : {{$ctrl.game.status}}
    </p>
    <p>
        <label>Step en cours</label> : {{$ctrl.game.currentStep}}
    </p>

    <div ng-if="$ctrl.game.status == 'CREATED'">
        <p><label>Joueurs inscrits</label> : <span ng-if="$ctrl.game.gamers.length === 0">Aucun joueur inscrit</span> </p>

        <ol>
            <li ng-repeat="gamer in $ctrl.game.gamers">
                {{gamer.shortName}} <img style="width: 50px;vertical-align: middle" ng-src="{{gamer.avatarUrl}}" />
            </li>
        </ol>

        <p ng-hide="$ctrl.isUserRegistered()">Vous n'&ecirc;tes pas inscrit(e) :
            <button ng-click="$ctrl.register()">S'inscrire</button>
        </p>
        <p ng-show="$ctrl.isUserRegistered()">Vous &ecirc;tes inscrit(e) :
            <button ng-click="$ctrl.unregister()">Se d&eacute;sinscrire</button>
        </p>

    </div>

    <div>
        <label>Historique</label> :    <button ng-click="$ctrl.onHistoryBack()" ng-disabled="$ctrl.historyStep === 0 || $ctrl.game.status != 'STOPPED'">Tour précédent</button>
                        Tour {{$ctrl.historyStep}}
                        <button href="#" ng-click="$ctrl.onHistoryNext()" ng-disabled="$ctrl.historyStep === $ctrl.history.length || $ctrl.game.status != 'STOPPED'">Tour suivant</button>
    </div>

    <div style="display: flex; margin-top: 10px"  ng-if="['STARTED', 'STOPPED'].includes($ctrl.game.status)">
        <div>
            <gamers-ranking gamers="$ctrl.game.gamers"></gamers-ranking>
        </div>
        <div class="vr"></div>
        <div>
            <board model="$ctrl.game.board"></board>

            <div style="margin-top: 10px">
                <event-log></event-log>
            </div>
        </div>
    </div>
</div>


