<h3>Jeu en cours ({{$ctrl.game.status}})</h3>

<button ng-click="$ctrl.onStartPressed()" ng-if="$ctrl.game.status != 'STARTED'">Start</button>

<p>
    Nombre de joueur: {{$ctrl.game.gamers.length}}
</p>
<p>
    Step en cours: {{$ctrl.game.currentStep}}
</p>

<div style="display: flex">
    <div style="width: 100px">
        <gamers-ranking gamers="$ctrl.game.gamers"></gamers-ranking>
    </div>
    <div class="vr"></div>
    <div>
        <board ng-if="$ctrl.game.status == 'STARTED'" model="$ctrl.game.board"></board>
    </div>
</div>

